<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Panel administrador</h2>
            <ul>
                <li><a href="../api/usuarios">Usuarios</a></li>
                <li><a href="/">Volver a la tienda</a></li>
            </ul>
        </aside>

        <div class="main-content">
            <header class="header">
                <h1>Dashboard</h1>
            </header>
        </div>
    </div>
    <footer class="container">
        <h4>GA8-220501096-AA1-EV02 SL NicolasCamachoLesmes 2721538</h4>
    </footer>
</body>
</html>
