<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <div class="form-container">
        <h1>Crea tu cuenta</h1>
        <form action="../api/signup" method="post">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <label for="city">Ciudad:</label>
            <input type="text" id="city" name="city" required>

            <a href="/">
                <button type="submit">Registrarse</button>
            </a>
        </form>
    </div>
    <footer class="container">
        <h4>GA8-220501096-AA1-EV02 SL NicolasCamachoLesmes 2721538</h4>
      </footer>
</body>
</html>
